.sidebar {
    overflow: hidden;
    margin-left: 5%;
}

/*Buttercrust Logo Placement*/
.logo {
    width: 100%;
    height: 50px;
}

.logo-div {
    margin-top: 5%;
}

.items {
    font-size: 20px;
    color: honeydew;
}

/*Side Nav Transition CSS*/

.sidenav {
    background-color: #252a35;
    color: honeydew;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 2em;
}

.sidenav:hover {
    background-color: #1f232c;
}

.hidden {
    display: none;
}

.show {
    background-color:#252a35;
    color: honeydew;
    cursor: pointer;
    padding: 0 18px;
    overflow: hidden;
    font-size: 2em;
}

.show:hover{
    background-color:#1b1f27;
}

/*Done Button css on the sideNav*/
.btn-sidemenu{  
    margin: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #f8aa00;
    font-size: 20px;
    font-weight: bold;
    color: #14232c
}

.btn-sidemenu:active{  
    cursor: pointer;
    background-color: #eca30675;
}

.btn-sidemenu:hover{  
    cursor: pointer;
}

