.sidebar {
    overflow: auto;
    margin-left: 5%;
    display: grid;
    grid-template-rows: 80px auto 100px 100px;
    height: 100vh;
    place-items: center;   
}

/*Buttercrust Logo Placement*/
.logo {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
}

.logo-div {
    padding-left: 10px;
}

/*Side Nav Transition CSS*/

.sidenav {
    background-color: #252a35;
    color: honeydew;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.sidenav:hover {
    background-color: #1f232c;
}

.show:hover{
    background-color:#1b1f27;
}


/*Done Button css on the sideNav*/
.btn-sidemenu{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #f8aa00;
    font-size: 20px;
    font-weight: bold;
    color: #14232c;
    margin: 10px;
}

.btn-sidemenu:active{  
    cursor: pointer;
    background-color: #eca30675;
}

.btn-sidemenu:hover{  
    cursor: pointer;
}

.menu {
    overflow: auto;
    padding: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    place-items: center;
    gap: 20px;
}

.small {
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    padding-bottom: 16%;
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
    background-color: #3d4557;
}

.modalheader {
    overflow: hidden;
    margin-bottom: -20px;
    margin-top: -50px;
}

.modalbtn {
    text-align: center;
}

.mdclear {
    padding-left: 90%;
    cursor: pointer;
    font-size: 30px;
}

.logo {
    color: honeydew;
    text-align: center;
    margin-top: 15%;
}

.modalbody {
    display: table;
    column-count: 3;
    float: left;
}

.price {
    text-align: left;
    word-spacing: 10px;
}

.circle {
    padding-top: 10em;
    height: 10em;
    width: 5em;
}

.order {
    padding: 6.5em;
}